<div class="ui form">
  <div class="five fields" style="margin-bottom:0;">
    <div class="field">
      <label>呼叫时间</label>
      <input type="text" class='datarangeInput' name="daterange" placeholder="选择时间" data-from="<%=from%>" data-to="<%=to%>">
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui  blue submit button" onclick="search()">
        <i class="icon search"></i>
        搜索
      </div>
    </div>
  </div>
</div>
<div class='ui hidden divider'></div>
<div class="ui" style="height: 85%;">
  <div id="lineChart" style="height: 100%;"></div>
</div>
<script>
  var from, to;
  $(function(){
    activeUrl();
    initSearchQuery()

    //初始化下拉框
    $('.ui.dropdown').dropdown();

    //初始化日期
    initDatePicker()
  })
  function search() {
    if($('.datarangeInput').val()!=="选择时间"){
      var dateRange = $('.datarangeInput').val().split('至');
      from = parseInt(moment(dateRange[0].trim()).valueOf());
      to = parseInt(moment(dateRange[1].trim()).valueOf());
    }

    location.href = encodeURI("?from=" + from + "&to=" + to);
  }
  //初始化search query
  function initSearchQuery() {
    from = $('input[name="daterange"]').attr('data-from')
    to = $('input[name="daterange"]').attr('data-to')
    from = from !== ''?Number(from):'';
    to = to!==''?Number(to):'';
    //设定input默认时间
    if (from !== '' && to !== '') {
      $('input[name="daterange"]').val(moment(from).format('YYYY-MM-DD HH:mm') + " 至 " + moment(to).format('YYYY-MM-DD HH:mm'));
    } else {
      $('input[name="daterange"]').val('选择时间');
    }
  }
  var chartData=<%- JSON.stringify(data)%>;
  var lineChart = echarts.init(document.getElementById('lineChart'));
  var option = {
     		title: {
            	text: '客户满意度分析',
      	},
        toolbox:{
          right:"2%",
          feature:{
            saveAsImage:{

            }
          }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            }
        },
        legend: {
            data:['客户满意度']
        },
        grid: {
            top: 70,
            bottom: 50
        },
        xAxis: [
            {
                type: 'category',
                axisTick: {
                    alignWithLabel: true
                },
                data: chartData.map(function(item){
                  return item['satisfy_comment']
                })
            }
        ],
        yAxis:{
          name:"次数",
          type: 'value',
          minInterval: 1
        },
        series: {
            name:'客户满意度',
            type:'bar',
            barWidth: "60%",
            color:["#2185d0"],
            data: chartData.map(function(item){
              return item['count']
            })
        }

    };
    lineChart.setOption(option);
    $(window).resize(function(){
      lineChart.resize()
    })
</script>
